{% extends 'base.html' %}

{% block title %}Home - Laptop Recommendation App{% endblock %}

{% block content %}
<h1>Selamat datang di Laptop Recommendation App</h1>
<p>Aplikasi ini akan membantumu dalam memilih leptop:</p>
<ul>
    <li><strong>View Leptops:</strong> Melihat semua leptop yang terdapat dalam database kita.</li>
    <li><strong>Add Leptop:</strong> Tambahkan leptopmu ke dalam list database kita.</li>
    <li><strong>Get Rekomendasi:</strong> Dapatkan rekomendasi dari kita berdasarkan keriteria yang kamu tetnukan menggunakan metode TOPSIS.</li>
</ul>
{% endblock %}
